.todoform {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modern_input {
  width: 80%;
  border-style: solid;
  display: block;
  color: black;
  font-size: 16px;
  padding-left: 5px;
}
.modern_input:focus {
  outline: none;
}

.modern_button {
  display: inline-block;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
  background-color: skyblue;
  padding: 12px;
  width: 20%;
  color: white;
  cursor: pointer;
}

.input_container {
  display: flex;
}
